@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  #resume-preview {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  @page {
    margin: 0.5in;
  }
}

h1 {
  font-size: 30px;
  font-weight: 700;
  color: #2d3436;          
  letter-spacing: -0.5px;  
  line-height: 1.2;        
}

