@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
    padding: 0;
  }

  #resume-preview {
    box-shadow: none;
    padding: 0;
    margin: 0;
  }

  @page {
    margin: 0.5in;
  }
}
